name: telegram

on:
    push:
        branches:
          - 'main'
    pull_request:
        types: [opened]
    issues:
        types: [opened]
    release:
        types: [published]

jobs:
    notify:
        runs-on: ubuntu-latest

        steps:
          - uses: actions/checkout@v5

          - name: send notification
            uses: EverythingSuckz/github-telegram-notify@main
            with:
                bot_token: '${{ secrets.TELEGRAM_BOT_TOKEN }}'
                chat_id: '${{ secrets.TELEGRAM_CHAT_ID }}'
